.viewer {
  &__header, &__footer {
    padding: 6px 6px;
    background: $color--fade-main;
    color: $color--light-main;
    ul {
      @extend %plain-list;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      margin: 5px 5px;
      width: 50px;
      height: 30px;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      border-radius: 4px;
      background-color: $color--light-gray;
      border: $color--main 1px solid;
      img {
        width: 50px;
        height: 27px;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 22px;
      margin: 0;
      padding-left: 10px;
    }
    h1 a {
      font-size: 22px;
      color: $color--light-main;
      text-decoration: none;
    }
    &__controller {
      padding-right: 10px;
    }
  }
  &__content {
    position: relative;
    flex-grow: 1;
    background-color: $color--light-main;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 6px;
  }
  &__loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color--light-main,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      background: url('../images/icons/loading.svg');
      width: 64px;
      height: 64px;
    }
  }
  &__page-controller-1 {
    &__current-page {
      margin-left: 5px;
      font-size: 19px;
    }
  }
  &__page-controller-2 {
    display: flex;
    align-items: center;
    font-size: 19px;
    input[type=number] {
      font-size: 19px;
      width: 65px;
      border-radius: 2px;
      height: 26px;
      line-height: 22px;
      padding: 0 5px;
      color: $color--fade-dark-main;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 8px;
      margin-bottom: 8px;
      border: $color--main 1px solid;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }
    button {
      width: 90px;
      height: 30px;
      padding: 0px 10px;
      border-radius: 5px;
      align-items: center;
    }
  }
}

@media screen and (max-width: 670px) {
  .page-header {
    h1 {
      font-size: 22px;
    }
  }
  .viewer {
    &__header {
      flex-direction: column;
      h1 {
        text-align: center;
      }
    }
    &__footer {
      flex-direction: column;
      > ul {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .page-header {
    h1 {
      font-size: 20px;
    }
  }
  .site-nav {
    li {
      margin: 0 10px;
      a {
        font-size: 20px;
      }
    }
  }
  .page-content {
    flex-grow: 1;
    > .container {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
  .page-footer {
    font-size: 18px;
  }
  .viewer {
    &__header {
      h1 {
        padding-left: 0px;
        font-size: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
      h1 a {
        font-size: 18px;
      }
      &__controller {
        padding-right: 0px;
      }
    }
    &__page-controller-1 {
      &__current-page {
        font-size: 16px;
      }
    }
    &__page-controller-2 {
      font-size: 16px;
      input[type=number] {
        font-size: 16px;
        width: 65px;
        height: 27px;
        line-height: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      button {
        width: 78px;
        height: 27px;
      }
    }
  }
}